<template>
  <span>
    {{ next.diff(now).toFormat('in hh:mm') }} / {{ next.toLocal().toFormat('HH:mm') }}
  </span>
</template>

<script>
import { DateTime } from 'luxon'
import { nextSpawn } from '../lib/bossTimer'

export default {
  props: {
    startTime: { type: Array, required: true },
    repeatTime: { type: Array, required: true }
  },

  data () {
    const now = DateTime.utc()
    return {
      now: now,
      next: this.getNextSpawn(now)
    }
  },

  mounted () {
    this._interval = window.setInterval(() => {
      this.now = DateTime.utc()
      if (this.now >= this.next) {
        this.next = this.getNextSpawn(this.now)
      }
    }, 1000)
  },

  beforeDestroy () {
    window.clearInterval(this._interval)
  },

  methods: {
    getNextSpawn (now) {
      return nextSpawn(now, this.startTime, this.repeatTime)
    }
  }
}
</script>
