<template>
  <v-row>
    <v-col
      v-for="daily in dailies"
      :key="daily.data.id"

      cols="12"
      md="6"
      :lg="cardWidth"
    >
      <daily-card
        ref="cards"
        :data="daily.data"
        :aspect-ratio="cardAspectRatio"
        :grey-out="daily.shouldGreyOut"
      />
    </v-col>
  </v-row>
</template>

<script>
import { Visibility, getDailyVisibility } from '../lib/settings'
import DailyCard from './DailyCard.vue'

export default {
  components: {
    DailyCard
  },

  props: {
    data: { type: Array, required: true },
    copyable: { type: Boolean, default: false },
    cardWidth: { type: Number, default: 4 },
    cardAspectRatio: { type: Number, default: 2 }
  },

  computed: {
    dailies () {
      return this.data
        .map((d) => {
          return { data: d, visibility: getDailyVisibility(this.$root.settings, d) }
        })
        .filter((d) => d.visibility !== Visibility.HIDDEN)
        .map((d) => {
          return { data: d.data, shouldGreyOut: d.visibility === Visibility.GREYED_OUT }
        })
    }
  }
}
</script>
